body {
    background-color: #A0A0A0;
}

.headings {
    color: #CCFF66;
}

#mainheader {
    text-align: center;
    font-size:50px;
}

.navitems {
    text-align: center;
    text-decoration: none;
    font-size:25px;
}

nav > ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: underline;
    color:white;
}

a:active {
    background-color:#D0D0D0;
    color:white;
    text-decoration:none;
}

nav > ul > li > a {
    color:white;
}

footer > p > a {
    text-decoration:none;
    color:black;
}

.footer {
    text-align:center;
}